<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://youds.com/youds/config/parts/module/1.1" xmlns:ae="http://youds.com/youds/config/global/envelope/1.1">
	<ae:configuration>
		
		<module enabled="true">
			<settings>
				<setting name="title">ControllerTests Module</setting>
				<setting name="version">1.0</setting>
<!--
				<setting name="authors">
					<ae:parameter name="joe.cool@peanuts.com">Snoopy</ae:parameter>
				</setting>
				<setting name="homepage">http://www.youds.com</setting>
				<setting name="update_url" />
				<setting name="description">An example module</setting>
-->
				<setting name="youds.action.path">%core.module_dir%/${moduleName}/actions/${actionName}Action.class.php</setting>
				<setting name="youds.view.path">%core.module_dir%/${moduleName}/views/${viewName}View.class.php</setting>
				<setting name="youds.view.name">${actionName}${viewName}</setting>
				<setting name="youds.cache.path">%core.module_dir%/${moduleName}/cache/${actionName}.xml</setting>
				<setting name="youds.validate.path">%core.module_dir%/${moduleName}/validate/${actionName}.xml</setting>
				<setting name="youds.template.directory">%core.module_dir%/${module}/templates</setting>
			</settings>
		</module>
		
	</ae:configuration>
</ae:configurations>
